.petal-container {
  position: fixed;
  top: 0;
  left: -320px;
  width: 140vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  z-index: 2;
}

.petal {
  position: absolute;
  top: -50px;
  left: 20px;
  width: 50px;
  height: 32px;
  background-image: url(/src/assets/sakura-flower-removebg-preview.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation: fall 10s linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(50vh) rotate(180deg);
  }
  100% {
    transform: translateY(1000vh) rotate3d(360deg);
  }
}

@media (max-width: 600px) {
  .petal-container {
    position: fixed;
    top: 0;
    left: -40px;
    width: 120vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
    z-index: 2;
  }
  .petal {
    position: absolute;
    top: -50px;
    width: 60px;
    height: 20px;
    background-image: url(/src/assets/sakura-flower-removebg-preview.png);
    background-size: contain;
    background-repeat: no-repeat;
    animation: fall 10s linear infinite;
  }

  @keyframes fall {
    0% {
      transform: translateY(0) rotate(0deg);
    }
    50% {
      transform: translateY(50vh) rotate(180deg);
    }
    100% {
      transform: translateY(100vh) rotate3d(360deg);
    }
  }
}
